[disabled],
.disabled{
  /* pointer-events: none; */
}
#directoryStatusContainer:empty{
  display:none!important;
}
.nav > li > :is(button,a){
  padding: 0 8px;
  border-bottom-left-radius:0;
  border-bottom-right-radius: 0;
}
.nav > li > a{
  display:flex;
  gap:0.25rem;
  align-items:center;
}
.status{
  border-radius: 5px;
  padding: 2px 10px;
  box-shadow: rgb(0 0 0 / 16%) 0px 3px 6px, rgb(0 0 0 / 23%) 0px 3px 6px;
  color: white;
  font-weight: bold;
}
#autoUpdateLog{
  max-height:40vw;
  overflow-y:auto;
  display:grid;
  gap:0.5rem;
  overflow-y:auto;
}
.tab-content > div.tab-pane{
  height:auto;
}
#scriptorder .addContainer{
  display:grid;
  gap:0.5rem;
  grid-template-columns:15rem auto;
  transition:width 500ms;
  justify-content:end;
  overflow:hidden;
  padding:0;
}
.addContainer input{
  width:100%;
  box-sizing:border-box;
}
a .material-icons.material-icons{
  font-size: 1em;
}

.tab-content .tab-pane :is(.editor,.header,.toolbar){
  position:relative;
  inset:auto;
}